flask
flask-bcrypt
flask-sqlalchemy
werkzeug
nltk
numpy
networkx
beautifulsoup4
requests
python-docx
PyPDF2
youtube_transcript_api==0.6.2
fpdf
python-dotenv
deep-translator
spacy
reportlab
docx2pdf
comtypes
scipy